<a href="https://colab.research.google.com/github/sagarkumarmishra/Data-Analysis-using-Python/blob/main/SAI_CLEANING_PART23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_excel('/content/SPORTS INFRASTRUCTURE UNDER GIS SYSTEM. (1).xlsx','Sheet2',skiprows=1)

In [ ]:
data.head()

,Sl. No.,"Infrastructure available (Stadium, Hall, Swimming Pools and other such facilities Sports-wise)",Size/ details of Infrastructure,Unnamed: 3,Unnamed: 4,Unnamed: 5,Owned by Institution (State Govt./ SAI/Private),Built under Scheme,Location of the Infrastructure (Tehsil/ Taluk and District),Details of number of Coaches available for the sport,Unnamed: 10,Unnamed: 11
0,NaN,NaN,Size in Acres,Survey No.,¥ÁægÀA¨sÀªÁzÀ ªÀµÀð ªÀÄvÀÄÛ MlÄÖ ªÉZÀÑ (gÀÆ. ®...,Infrastructure,NaN,NaN,NaN,NaN,ªÀÄ»¼É AiÀÄjUÉ ¸ÉÃjzÀAvÉ ±ËZÁ®AiÀÄUÀ¼À ®¨sÀåvÉ...,NaN
1,1.0,Sri Kanteerava Stadium,29.36 Acres,S. No. 193/P1,2008-09 gÀÆ. 74.02,"400 Meter Synthetic Athletic Track, Indoor, Ba...",State Govt.,State Sector,Bangalore,Archery-1\nBasketball-1\nFencing-1\nWeightlift...,¥ÉªÀ°AiÀÄ£ï PÀlÖqÀzÀ M¼À¨sÁUÀzÀ°è ±ËZÁ®AiÀÄ¸Ë®...,11.0
2,2.0,Koramangala Indoor Stadium,4.16 Acres,"S. No. 111, 112, 114, 115,",gÀÆ. 10.25,Indoor Hall,State Govt.,State Sector,Bangalore,Judo-1\nFencing-1,¥ÉªÀ°AiÀÄ£ï PÀlÖqÀzÀ M¼À¨sÁUÀzÀ°è ±ËZÁ®AiÀÄ¸Ë®...,2.0
3,3.0,Vidyanagara,62.00 Acres,"S. No. 317, 317/1, 325/1, 325/2",2010 gÀÆ. 31.15,"400 Meter Synthetic Athletic Track, Indoor, Sw...",State Govt.,State Sector,Bangalore,Athletics-2\nBaketball-2\nVolleyball-1\nKho-Kh...,¥ÉªÀ°AiÀÄ£ï PÀlÖqÀzÀ M¼À¨sÁUÀzÀ°è ±ËZÁ®AiÀÄ¸Ë®...,7.0
4,4.0,Anekal,10.00 Acres,248,1991-1992,Play Ground and Pavillion Block.,State Govt.,State Sector,"Anekal Taluk, Bangalore Urban District.",NaN,¥ÉªÀ°AiÀÄ£ï PÀlÖqÀzÀ M¼À¨sÁUÀzÀ°è ±ËZÁ®AiÀÄ¸Ë®...,NaN

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 12 columns):
 #   Column                                                                                          Non-Null Count  Dtype
---  ------                                                                                          --------------  -----
 0   Sl. No.                                                                                         171 non-null    float64
 1   Infrastructure available (Stadium, Hall, Swimming Pools and other such facilities Sports-wise)  171 non-null    object
 2   Size/ details of Infrastructure                                                                 168 non-null    object
 3   Unnamed: 3                                                                                      156 non-null    object
 4   Unnamed: 4                                                                                      138 non-null    object
 5   Unnamed: 5                                                                                      167 non-null    object
 6   Owned by Institution (State Govt./ SAI/Private)                                                 171 non-null    object
 7   Built under Scheme                                                                              171 non-null    object
 8   Location of the Infrastructure (Tehsil/ Taluk and District)                                     171 non-null    object
 9   Details of number of Coaches available for the sport                                            34 non-null     object
 10  Unnamed: 10                                                                                     147 non-null    object
 11  Unnamed: 11                                                                                     34 non-null     float64
dtypes: float64(2), object(10)
memory usage: 16.2+ KB

In [ ]:
smr = ['Size/ details of Infrastructure','Built under Scheme','Details of number of Coaches available for the sport','Sl. No.','Unnamed: 3','Unnamed: 4','Owned by Institution (State Govt./ SAI/Private)','Unnamed: 5','Unnamed: 10','Unnamed: 11']

In [ ]:
sat = data.drop(smr,inplace =True,axis =1)

In [ ]:
data.head()

,"Infrastructure available (Stadium, Hall, Swimming Pools and other such facilities Sports-wise)",Location of the Infrastructure (Tehsil/ Taluk and District)
0,NaN,NaN
1,Sri Kanteerava Stadium,Bangalore
2,Koramangala Indoor Stadium,Bangalore
3,Vidyanagara,Bangalore
4,Anekal,"Anekal Taluk, Bangalore Urban District."

In [ ]:
data.columns

Index(['Infrastructure available (Stadium, Hall, Swimming Pools and other such facilities Sports-wise)', 'Location of the Infrastructure (Tehsil/ Taluk and District)'], dtype='object')

In [ ]:
data.tail()

,"Infrastructure available (Stadium, Hall, Swimming Pools and other such facilities Sports-wise)",Location of the Infrastructure (Tehsil/ Taluk and District)
167,Muddebihala,"Muddebihal, Vijayapura District."
168,Sindagi,"Sindagi, Vijayapura District."
169,Yadagiri district stadium,Yadagiri.
170,Shahapura,"Shahapura, Yadagiri District."
171,Gurumithakal,"Gurumitkal, Yadagiri District."

In [ ]:
data['Infrastructure available (Stadium, Hall, Swimming Pools and other such facilities Sports-wise)'].value_counts()

Sri Kanteerava Stadium        1
Mandya District Stadium       1
Maluru                        1
Mulubagilu                    1
Srinivaspura                  1
                             ..
Holalkere                     1
Mangalore District Satdium    1
Beltangadi                    1
Mudubidre                     1
Gurumithakal                  1
Name: Infrastructure available (Stadium, Hall, Swimming Pools and other such facilities Sports-wise), Length: 171, dtype: int64

In [ ]:
data.dtypes

Infrastructure available (Stadium, Hall, Swimming Pools and other such facilities Sports-wise)    object
Location of the Infrastructure (Tehsil/ Taluk and District)                                       object
dtype: object

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 2 columns):
 #   Column                                                                                          Non-Null Count  Dtype
---  ------                                                                                          --------------  -----
 0   Infrastructure available (Stadium, Hall, Swimming Pools and other such facilities Sports-wise)  171 non-null    object
 1   Location of the Infrastructure (Tehsil/ Taluk and District)                                     171 non-null    object
dtypes: object(2)
memory usage: 2.8+ KB

In [ ]:
data['Location of the Infrastructure (Tehsil/ Taluk and District)'].value_counts()

Dharawad Distrct.                     5
Bangalore                             3
Ramanagara                            2
Shivamogga                            2
Hosadurga, Chitradurga.               2
                                     ..
Sulya, Dakshina Kannada District.     1
Davanagere                            1
Davanagere District.                  1
Channagiri, Davanagere District.      1
Gurumitkal, Yadagiri District.        1
Name: Location of the Infrastructure (Tehsil/ Taluk and District), Length: 156, dtype: int64

In [ ]:
data.head()

,"Infrastructure available (Stadium, Hall, Swimming Pools and other such facilities Sports-wise)",Location of the Infrastructure (Tehsil/ Taluk and District)
0,NaN,NaN
1,Sri Kanteerava Stadium,Bangalore
2,Koramangala Indoor Stadium,Bangalore
3,Vidyanagara,Bangalore
4,Anekal,"Anekal Taluk, Bangalore Urban District."

In [ ]:
data.rename(columns={'Infrastructure available (Stadium, Hall, Swimming Pools and other such facilities Sports-wise)' : 'address_line_1', 'Unnamed: 5' :'Address' }, inplace=True)

In [ ]:
data.head()

,address_line_1,Location of the Infrastructure (Tehsil/ Taluk and District)
0,NaN,NaN
1,Sri Kanteerava Stadium,Bangalore
2,Koramangala Indoor Stadium,Bangalore
3,Vidyanagara,Bangalore
4,Anekal,"Anekal Taluk, Bangalore Urban District."

In [ ]:
data.insert(loc=0, column= 'Name',  value='Department of Youth Empowerment and Sports, Karnataka',  allow_duplicates=True)

In [ ]:
data.head()

,Name,address_line_1,Location of the Infrastructure (Tehsil/ Taluk and District)
0,"Department of Youth Empowerment and Sports, Ka...",NaN,NaN
1,"Department of Youth Empowerment and Sports, Ka...",Sri Kanteerava Stadium,Bangalore
2,"Department of Youth Empowerment and Sports, Ka...",Koramangala Indoor Stadium,Bangalore
3,"Department of Youth Empowerment and Sports, Ka...",Vidyanagara,Bangalore
4,"Department of Youth Empowerment and Sports, Ka...",Anekal,"Anekal Taluk, Bangalore Urban District."

In [ ]:
data.drop(index =0, inplace =True)

In [ ]:
data.head()

,Name,address_line_1,Location of the Infrastructure (Tehsil/ Taluk and District)
1,"Department of Youth Empowerment and Sports, Ka...",Sri Kanteerava Stadium,Bangalore
2,"Department of Youth Empowerment and Sports, Ka...",Koramangala Indoor Stadium,Bangalore
3,"Department of Youth Empowerment and Sports, Ka...",Vidyanagara,Bangalore
4,"Department of Youth Empowerment and Sports, Ka...",Anekal,"Anekal Taluk, Bangalore Urban District."
5,"Department of Youth Empowerment and Sports, Ka...",Honnigaanahatti (South),"Yalahanka Taluk, Bangalore Urban District."

In [ ]:
data.insert(loc=3, column= 'manager_contact_no',  value='01123384782',  allow_duplicates=True)

In [ ]:
data.head()

,Name,address_line_1,Location of the Infrastructure (Tehsil/ Taluk and District),manager_contact_no
1,"Department of Youth Empowerment and Sports, Ka...",Sri Kanteerava Stadium,Bangalore,01123384782
2,"Department of Youth Empowerment and Sports, Ka...",Koramangala Indoor Stadium,Bangalore,01123384782
3,"Department of Youth Empowerment and Sports, Ka...",Vidyanagara,Bangalore,01123384782
4,"Department of Youth Empowerment and Sports, Ka...",Anekal,"Anekal Taluk, Bangalore Urban District.",01123384782
5,"Department of Youth Empowerment and Sports, Ka...",Honnigaanahatti (South),"Yalahanka Taluk, Bangalore Urban District.",01123384782

In [ ]:
data.insert(loc=3, column= 'name_of_manager',  value='Shri Anurag Singh Thakur',  allow_duplicates=True)

In [ ]:
data.head()

,Name,address_line_1,Location of the Infrastructure (Tehsil/ Taluk and District),name_of_manager,manager_contact_no
1,"Department of Youth Empowerment and Sports, Ka...",Sri Kanteerava Stadium,Bangalore,Shri Anurag Singh Thakur,01123384782
2,"Department of Youth Empowerment and Sports, Ka...",Koramangala Indoor Stadium,Bangalore,Shri Anurag Singh Thakur,01123384782
3,"Department of Youth Empowerment and Sports, Ka...",Vidyanagara,Bangalore,Shri Anurag Singh Thakur,01123384782
4,"Department of Youth Empowerment and Sports, Ka...",Anekal,"Anekal Taluk, Bangalore Urban District.",Shri Anurag Singh Thakur,01123384782
5,"Department of Youth Empowerment and Sports, Ka...",Honnigaanahatti (South),"Yalahanka Taluk, Bangalore Urban District.",Shri Anurag Singh Thakur,01123384782

In [ ]:
data.insert(loc=3, column= 'sub_ownership_id',  value='Karnataka',  allow_duplicates=True)

In [ ]:
data.head()

,Name,address_line_1,Location of the Infrastructure (Tehsil/ Taluk and District),sub_ownership_id,name_of_manager,manager_contact_no
1,"Department of Youth Empowerment and Sports, Ka...",Sri Kanteerava Stadium,Bangalore,Karnataka,Shri Anurag Singh Thakur,01123384782
2,"Department of Youth Empowerment and Sports, Ka...",Koramangala Indoor Stadium,Bangalore,Karnataka,Shri Anurag Singh Thakur,01123384782
3,"Department of Youth Empowerment and Sports, Ka...",Vidyanagara,Bangalore,Karnataka,Shri Anurag Singh Thakur,01123384782
4,"Department of Youth Empowerment and Sports, Ka...",Anekal,"Anekal Taluk, Bangalore Urban District.",Karnataka,Shri Anurag Singh Thakur,01123384782
5,"Department of Youth Empowerment and Sports, Ka...",Honnigaanahatti (South),"Yalahanka Taluk, Bangalore Urban District.",Karnataka,Shri Anurag Singh Thakur,01123384782

In [ ]:
data.insert(loc=2, column= 'state_id',  value='15',  allow_duplicates=True)

In [ ]:
data.head()

,Name,address_line_1,state_id,Location of the Infrastructure (Tehsil/ Taluk and District),sub_ownership_id,name_of_manager,manager_contact_no
1,"Department of Youth Empowerment and Sports, Ka...",Sri Kanteerava Stadium,15,Bangalore,Karnataka,Shri Anurag Singh Thakur,01123384782
2,"Department of Youth Empowerment and Sports, Ka...",Koramangala Indoor Stadium,15,Bangalore,Karnataka,Shri Anurag Singh Thakur,01123384782
3,"Department of Youth Empowerment and Sports, Ka...",Vidyanagara,15,Bangalore,Karnataka,Shri Anurag Singh Thakur,01123384782
4,"Department of Youth Empowerment and Sports, Ka...",Anekal,15,"Anekal Taluk, Bangalore Urban District.",Karnataka,Shri Anurag Singh Thakur,01123384782
5,"Department of Youth Empowerment and Sports, Ka...",Honnigaanahatti (South),15,"Yalahanka Taluk, Bangalore Urban District.",Karnataka,Shri Anurag Singh Thakur,01123384782

In [ ]:
data.insert(loc=0, column= 'state_id',  value='15',  allow_duplicates=True)

In [ ]:
pincode = pd.read_excel('/content/pin_code.xlsx')

In [ ]:
pincode.head()

   id  district_id  pincode
0   1            1   744201
1   2            1   744202
2   3            2   744302
3   4            2   744303
4   5            3   744105

In [ ]:
create =['id','district_id']

In [ ]:
pincode.drop(create, axis =1, inplace =True)

In [ ]:
pincode.head()

   pincode
0   744201
1   744202
2   744302
3   744303
4   744105

In [ ]:
pincode.shape

(19337, 1)

In [ ]:
sru =pd.concat([data, pincode], axis=1)

In [ ]:
sru.head()

,state_id,Name,address_line_1,state_id,Location of the Infrastructure (Tehsil/ Taluk and District),sub_ownership_id,name_of_manager,manager_contact_no,pincode
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,744201
1,15,"Department of Youth Empowerment and Sports, Ka...",Sri Kanteerava Stadium,15,Bangalore,Karnataka,Shri Anurag Singh Thakur,01123384782,744202
2,15,"Department of Youth Empowerment and Sports, Ka...",Koramangala Indoor Stadium,15,Bangalore,Karnataka,Shri Anurag Singh Thakur,01123384782,744302
3,15,"Department of Youth Empowerment and Sports, Ka...",Vidyanagara,15,Bangalore,Karnataka,Shri Anurag Singh Thakur,01123384782,744303
4,15,"Department of Youth Empowerment and Sports, Ka...",Anekal,15,"Anekal Taluk, Bangalore Urban District.",Karnataka,Shri Anurag Singh Thakur,01123384782,744105

In [ ]:
sru.tail()

,state_id,Name,address_line_1,state_id,Location of the Infrastructure (Tehsil/ Taluk and District),sub_ownership_id,name_of_manager,manager_contact_no,pincode
19332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,835301
19333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,835213
19334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,835203
19335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,835231
19336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,533463

In [ ]:
sru.dropna(inplace = True)

In [ ]:
sru.head(2)

,state_id,Name,address_line_1,state_id,Location of the Infrastructure (Tehsil/ Taluk and District),sub_ownership_id,name_of_manager,manager_contact_no,pincode
1,15,"Department of Youth Empowerment and Sports, Ka...",Sri Kanteerava Stadium,15,Bangalore,Karnataka,Shri Anurag Singh Thakur,01123384782,744202
2,15,"Department of Youth Empowerment and Sports, Ka...",Koramangala Indoor Stadium,15,Bangalore,Karnataka,Shri Anurag Singh Thakur,01123384782,744302

In [ ]:
sru.tail(1)

,state_id,Name,address_line_1,state_id,Location of the Infrastructure (Tehsil/ Taluk and District),sub_ownership_id,name_of_manager,manager_contact_no,pincode
171,15,"Department of Youth Empowerment and Sports, Ka...",Gurumithakal,15,"Gurumitkal, Yadagiri District.",Karnataka,Shri Anurag Singh Thakur,01123384782,524366

In [ ]:
new_data = pd.read_excel('/content/district.xlsx')

In [ ]:
new_data.head()

    id state_id             district_name
0  1.0        1  North And Middle Andaman
1  2.0        1                  Nicobars
2  3.0        1            South Andamans
3  4.0        2                 Anantapur
4  5.0        2             West Godavari

In [ ]:
dele = ['id','state_id']

In [ ]:
new_data.drop(dele,axis =1, inplace =True)

In [ ]:
new_data.head(2)

              district_name
0  North And Middle Andaman
1                  Nicobars

In [ ]:
sru =pd.concat([data, pincode,new_data], axis=1)

In [ ]:
tum =sru.dropna(inplace = True)

In [ ]:

sru.head(2)

,state_id,Name,address_line_1,state_id,Location of the Infrastructure (Tehsil/ Taluk and District),sub_ownership_id,name_of_manager,manager_contact_no,pincode,district_name
1,15,"Department of Youth Empowerment and Sports, Ka...",Sri Kanteerava Stadium,15,Bangalore,Karnataka,Shri Anurag Singh Thakur,01123384782,744202,Nicobars
2,15,"Department of Youth Empowerment and Sports, Ka...",Koramangala Indoor Stadium,15,Bangalore,Karnataka,Shri Anurag Singh Thakur,01123384782,744302,South Andamans

In [ ]:
sru.tail(2)

,state_id,Name,address_line_1,state_id,Location of the Infrastructure (Tehsil/ Taluk and District),sub_ownership_id,name_of_manager,manager_contact_no,pincode,district_name
170,15,"Department of Youth Empowerment and Sports, Ka...",Shahapura,15,"Shahapura, Yadagiri District.",Karnataka,Shri Anurag Singh Thakur,01123384782,524313,Gir Somnath
171,15,"Department of Youth Empowerment and Sports, Ka...",Gurumithakal,15,"Gurumitkal, Yadagiri District.",Karnataka,Shri Anurag Singh Thakur,01123384782,524366,Porbandar

In [ ]:
sru.drop(sru.columns[[3]],axis =1, inplace =True)

In [ ]:
sru.head()

,Name,address_line_1,Location of the Infrastructure (Tehsil/ Taluk and District),name_of_manager,manager_contact_no,pincode,district_name
1,"Department of Youth Empowerment and Sports, Ka...",Sri Kanteerava Stadium,Bangalore,Shri Anurag Singh Thakur,01123384782,744202,Nicobars
2,"Department of Youth Empowerment and Sports, Ka...",Koramangala Indoor Stadium,Bangalore,Shri Anurag Singh Thakur,01123384782,744302,South Andamans
3,"Department of Youth Empowerment and Sports, Ka...",Vidyanagara,Bangalore,Shri Anurag Singh Thakur,01123384782,744303,Anantapur
4,"Department of Youth Empowerment and Sports, Ka...",Anekal,"Anekal Taluk, Bangalore Urban District.",Shri Anurag Singh Thakur,01123384782,744105,West Godavari
5,"Department of Youth Empowerment and Sports, Ka...",Honnigaanahatti (South),"Yalahanka Taluk, Bangalore Urban District.",Shri Anurag Singh Thakur,01123384782,744102,Visakhapatanam

In [ ]:
name = sagar